@page
@model Razor.Pages.Categories.IndexModel

<div class="container">
    <div class="row pt-3 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page = "/categories/create" class="btn btn-primary">
                <i class="bg-info bi-plus-circle"></i>Create New Category
            </a>
        </div>
    </div>
    <table class="table table table-bordered table stripped">
        <thead>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Display Order
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @* @foreach (var obj in Model.CategoryList.OrderBy(u => u.DisplayOrder))
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>
                        @obj.DisplayOrder
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-page="/categories/edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-page="/categories/delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            } *@


            @* Below we have hardcoded data because currently, we don't have db *@
            <tr>
                <td>Category 1</td>
                <td>1</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-page="/categories/edit" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-page="/categories/delete" class="btn btn-danger mx-2">
                            <i class="bi bi-trash-fill"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Category 2</td>
                <td>2</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-page="/categories/edit" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-page="/categories/delete" class="btn btn-danger mx-2">
                            <i class="bi bi-trash-fill"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Category 3</td>
                <td>3</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-page="/categories/edit" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-page="/categories/delete" class="btn btn-danger mx-2">
                            <i class="bi bi-trash-fill"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>